@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <a class="navbar-brand" href=""><h1>Computer Science Master Programs in US</h1></a>
    <div>
        <a asp-area="" asp-controller="Home" asp-action="Schools"><h2><u><font face="Comic sans MS" size=" 5" color="red">Click here for School Details</font></u></h2></a>
    </div>
    <!--<div class="image home"></div> -->

    <img src="~/img/alumni.png">
    <!-- <main>

        <div style="width:1000px; margin:0 auto;">

            <img src="~/img/team.png">

        </div>
    </main>  -->


</div>





