@{
    ViewData["Title"] = "Index";
}


    <h2>Computer Science Master Programs in US</h2>
    <hr/>

    <div>
        <a asp-area="" asp-controller="Home" asp-action="Schools">Schools</a>
    </div>
