@{
    ViewData["Title"] = "Schema Diagram";
}
<h1>@ViewData["Title"]</h1>

<html>
<head>
    <style type="text/css">

        body {
            font-family: Arial;
            font-size: 10pt;
        }
    </style>


</head>
<body>
    <main>

        <div style="width:1000px; margin:0 auto;">

            <img src="~/img/ER-Diagram.PNG">

        </div>
        <br />
        <h1>School-Enrollment Chart</h1>
        <br />
        <div style="width:1000px; margin:0 auto;">

            <img src="~/img/Capture.PNG">

        </div>
    </main>



    <br />
</body>
</html>