@{
    ViewData["Title"] = "Index";
}

@{
    Layout = "_Layout";
}
<hr />


<html>
<head>
    <style type="text/css">

        body {
            font-family: Arial;
            font-size: 10pt;
        }
    </style>
    <title>About us</title>

</head>
<body>

    <div>
        <h2>The Rocking Team!</h2>
        <p> Distributed Information Systems - Group 8 </p>
        <br />
        <h2>Contact us at Email ID?</h2>
        <p>Soumya Roy : <a href="mailto: soumyaroy@mail.usf.edu"> soumyaroy@mail.usf.edu </a></p>

        <p>Nihat Mahser : <a href="mailto: nmahser@mail.usf.edu">nmahser@mail.usf.edu </a></p>

        <p>Pankaj Patel : <a href="mailto: pankajp@mail.usf.edu">pankajp@mail.usf.edu </a> </p>
        <p>
            The team members are graduate students at University of South Florida.Soumya's contribution in building this web application was working on requirement gathering for the data and front-end development.
            Nihat's role in the project was to work on API's and necessary code development.
            Pankaj had contributed in database connectivity and back-end code development.
        </p>
        <br />
        <main>

            <div style="width:1000px; margin:0 auto;">

                <img src="~/img/team.png">

            </div>
        </main>

        <br />
        <p>This work is referenced from <a href="https://www.data.gov/" target="_blank">The home of the U.S. Government’s open data</a> </p>
        <br />

        <p>
            This application is developed by Nihat Mahser, Soumya Roy and Pankaj Patel and you can find the source
            code for this application in the github.
        </p>

        </p>
    </div>
</body>
</html>